<div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Database Manager</h3>
            </div>
            
            <ul class="list-unstyled components" >
                <li class="active" *ngFor="let db of databases">
                    <a [href]="db" data-toggle="collapse" aria-expanded="false">
                        {{db}}
                    </a>
                </li>
                
            </ul>
        </nav>

       

</div>
